/__pycache__
/learn
/data/cats
/data/dogs
/data/dogs_cats_test1
/data/drones
/data/faces
/data/human
/data/more_drones
/data/pedestrian0
/data/pedestrian1
/data/pikachu
/data/pikachumxnet
/data/project2Dataset
/data/project2Dataset400
/data/sources
/data/test_set
/data/create_test_set.py
/data/dogs-vs-cats.zip
/data/drone_objects.zip
/data/drones.zip
/data/faces.zip
/data/human.zip
/data/pedestrian.zip
/data/pikachu_kaggle.zip
/data/seperate_dogs.py
/data/test_set.csv
/data/test1.zip
/data/train.zip
/data/600p_dataset.zip